{% extends 'base.html' %}
{% block content %}
    <div class="container form-group">
        <br>
    <h1 align="center">Agregue un nuevo producto</h1>
        <hr>
    <form method="post">
        {% csrf_token %}
        {% for field in Product_Form %}
            {{ field.errors }}
            <label>{{ field.label }}</label>
            <input placeholder="{{ field.label }}" name="{{ field.name }}" class="form-control">
        {% endfor %}
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    </div>

{% endblock %}